= render "products/topbar"
= render "Mypage-header"
.Mypage-main
  = render "l-side"
= render "products/footer"
= link_to new_product_path, class: "sellBtn" do
  %span.sellBtn__text 出品する
  = image_tag "/material/icon/icon_camera.png", class: "sellBtn__image"