= render partial: 'products/topbar'
.Mypage-main
  = render "Mypage-header"
  .Mypage-main-content
    = render "l-side"
    .l-content
      .mypage-user-icon
        .background
          = image_tag "/material/icon/member_photo_noimage_thumb.png", class: "icon"
        .user-name
          = current_user.name
        .mypage-number
          %div
            評価
            %span.bold 0
          %div
            出品数
            %span.bold 0
      %section.mypage-tab
        %ul.mypage-tab-container
          %li.active
            %h3 お知らせ
        %ul.mypage-tab-container
          %li
            %h3 やることリスト
      %section.mypage-container
        %h2.mypage-tab-head 購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              取引中
          %li
            %h3
              過去の取引
        .tab-content
          %ul#mypage-tab-transaction-now
            %li.mypage-item-not-found 取引中の商品がありません
= render "products/footer"
= link_to new_product_path, class: "sellBtn" do
  %span.sellBtn__text 出品する
  = image_tag "/material/icon/icon_camera.png", class: "sellBtn__image"