= render partial: 'products/topbar'

.category_title
  = @user.name
  の出品商品一覧

.mainCategory__wrapper.Category_products_wrapper
  - if @user_products_array.blank?
    = @user.name
    の商品はまだありません。
  - else
    - @user_products_array.each do |product|
      - if product.purchase_id == nil
        = link_to product_path(product) do
          .Products
            = image_tag Image.find_by(product_id: product.id).src.url, class: "CategoryPic"
            .Products__info
              %p.name
                = product.name
              .price
                .price__left
                  = product.price
                  円
                .price__right
                  ★
                  0
              %p.tax (税込)
      - else
        = link_to show_sold_product_path(product) do
          .Products.sold-product
            = image_tag Image.find_by(product_id: product.id).src.url, class: "CategoryPic"
            .Products__info
              %p.name
                = product.name
              .price
                .price__left
                  = product.price
                  円
                .price__right
                  ★
                  0
              %p.tax (税込)
          .sold-char
            SOLD

= render partial: 'products/footer'
