= render "card_header"
.Single
  .Single__main
    .chapter-head
      登録クレジットカード情報
    .form-tag
      .number-details
        クレジットカード一覧
      .number-details
        .card_info
          .card_info__brand
          = image_tag "/#{@card_src}", class: "card_info__brand__img", alt: @card_brand
          .credit_card_info__numbers
            .number
              = "**** **** **** " + @customer_card.last4
            .expiration_date
              .expiration_date__title
                有効期限
              .expiration_date__info
                = @exp_month + " / " + @exp_year
        .destroy__function
          = link_to card_path, method: :delete, class: "destroy__function__link__btn" do 
            削除する
      .backbtn
        = link_to '戻る', :back, class: "token-submit"
= render "card_footer"