.mainReason
  .mainReason__title
    FURIMAが選ばれる3つの理由
  .mainReason__littleBar
  .mainReason__contents
    .Reason
      %span.number 1
      = image_tag "/material/pict/pict-reason-01.jpg", class: "ReasonPic"
      %p.reason_text_main
        %span 3分
        ですぐに出品
      %p.reason_text_sub
        スマホで入力するだけで簡単に出品できる！
    .Reason
      %span.number 2
      = image_tag "/material/pict/pict-reason-02.jpg", class: "ReasonPic"
      %p.reason_text_main
        %span シンプル
        で使いやすい
      %p.reason_text_sub
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .Reason
      %span.number 3
      = image_tag "/material/pict/pict-reason-03.jpg", class: "ReasonPic"
      %p.reason_text_main
        手数料
        %span 業界最安
      %p.reason_text_subLast
        最大3%でお得に出品&購入！


.mainAd
  .h2.mainAd__title 会員数日本一位
  %p.mainAd__sub FURIMAは、フリマアプリで最も人気。
  %p.mainAd__sub 出品・購入回数も業界最多です！
  %p.mainAd__sub ほしかったあの商品に出会えるかもしれません。
  .mainAd__downloads
    = link_to (image_tag "/images/app-store.svg", class: "header__downloads--apple appleBtn"), "#"
    = link_to (image_tag "/images/google-play.png", class: "header__downloads--google googleBtn"), "#"


.mainFeature
  .mainFeature__title
    FURIMAの特徴
  .mainFeature__littleBar
  .mainFeature__contents
    .Feature
      = image_tag "/material/icon/icon-01.png", class: "FeaturePic"
      %p.feature_text_main
        簡単に売り買いできる
      %p.feature_text_sub
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .Feature
      = image_tag "/material/icon/icon-03.png", class: "FeaturePic"
      %p.feature_text_main
        売上金は即日振込みに対応
      %p.feature_text_sub
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .Feature
      = image_tag "/material/icon/icon-04.png", class: "FeaturePic"
      %p.feature_text_main
        様々な支払いに対応
      %p.feature_text_sub
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

.mainCategory
  .mainCategory__title
    ピックアップカテゴリー
  .mainCategory__sub
    新規投稿商品
  .mainCategory__wrapper
    .Products
      = link_to image_tag("/material/pict/pict-reason-01.jpg", class:"CategoryPic"), "products/show"
      .Products__info
        %p.name ee
        .price
          .price__left
            1000円
          .proce__right
            ★
            0
        %p.tax (税込)

    .Products
      = image_tag "/material/pict/pict-reason-01.jpg", class: "CategoryPic"
      .Products__info
        %p.name ee
        .price
          .price__left
            1000円
          .proce__right
            ★
            0
        %p.tax (税込)

    .Products
      = image_tag "/material/pict/pict-reason-01.jpg", class: "CategoryPic"
      .Products__info
        %p.name ee
        .price
          .price__left
            1000円
          .proce__right
            ★
            0
        %p.tax (税込)

    .Products
      = image_tag "/material/pict/pict-reason-01.jpg", class: "CategoryPic"
      .Products__info
        %p.name ee
        .price
          .price__left
            1000円
          .proce__right
            ★
            0
        %p.tax (税込)


.mainBrand
  .mainBrand__title
    ピックアップブランド
  .mainBrand__sub
    アーカイバ
  .mainBrand__wrapper
    .Products
      = image_tag "/material/pict/pict-reason-01.jpg", class: "BrandPic"
      .Products__info
        %p.name ee
        .price
          .price__left
            1000円
          .proce__right
            ★
            0
        %p.tax (税込)

    .Products
      = image_tag "/material/pict/pict-reason-01.jpg", class: "BrandPic"
      .Products__info
        %p.name ee
        .price
          .price__left
            1000円
          .proce__right
            ★
            0
        %p.tax (税込)

    .Products
      = image_tag "/material/pict/pict-reason-01.jpg", class: "BrandPic"
      .Products__info
        %p.name ee
        .price
          .price__left
            1000円
          .proce__right
            ★
            0
        %p.tax (税込)

    .Products
      = image_tag "/material/pict/pict-reason-01.jpg", class: "BrandPic"
      .Products__info
        %p.name ee
        .price
          .price__left
            1000円
          .proce__right
            ★
            0
        %p.tax (税込)
