.topbar
  .topbar__contents
    .topbar__top
      = image_tag "/material/logo/logo.png", class: "topbar__top--icon"
      .topbar__top--search
        = form_with class: "Form", local: true do |f|
          = f.text_field :keyword, class: 'Form__input', placeholder: 'キーワードから探す'
          = button_tag type: 'submit', class: "Form__submit" do
            = image_tag "/material/icon/icon-search 1.png", class: "search--icon"
    .topbar__bottom
      .topbar__bottom--left
        %li.topbar__lists--left
          = link_to "カテゴリー", "#", class: "top-category"
        %li.topbar__lists--left
          = link_to "ブランド", "#", class: "top-brand"
      .topbar__bottom--right
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "top-newResister"
        - else
          = link_to "ログイン", new_user_session_path, class: "top-login"
          = link_to "新規登録", new_user_registration_path, class: "top-newResister"