.topbar
  .topbar__contents
    .topbar__top
      = link_to (image_tag "/material/logo/logo.png", class: "topbar__top--icon"), root_path
      .topbar__top--search
        = form_with url: search_products_path, class: "Form", method: :get, local: true do |f|
          = f.text_field :keyword, class: 'Form__input', placeholder: 'キーワードから探す'
          = button_tag type: 'submit', class: "Form__submit" do
            = image_tag "/material/icon/icon-search 1.png", class: "search--icon"
    .topbar__bottom
      .topbar__bottom--left
        .category.parent_show_hover
          = link_to "カテゴリー", "#", class: "top-category"
          .category-overlay
          .parents__list.show_hover.displayNone
            - @parents.each do |parent|
              = link_to "#{parent.name}", "#", class: "parent_category", id: "#{parent.id}"
          .children_list
          .grand_children_list
        .brand
          = link_to "ブランド", "#", class: "top-brand"
      .topbar__bottom--right
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "top-login"
          = link_to "マイページ", user_path(current_user.id), class: "top-newResister"
        - else
          = link_to "ログイン", new_user_session_path, class: "top-login"
          = link_to "新規登録", new_user_registration_path, class: "top-newResister"
